 body {
     box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     font-size: 62.5%;
     background: black
 }
 
 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

.bar-sign{
    background: url('..images/bar.jpg');
    height: 10rem;
    z-index: 10;
}